.menuBox {
  position: absolute;
  z-index: 9;
  background: #f0911b;
  height: auto;
}

.menuText {
  list-style: none;
  text-align: right;
  padding: 25px;
  cursor: pointer;
}

.menuText:hover {
  text-decoration: underline;
}