body {
  font-family: "Aleo", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.hero1 {
  width: 100%;
}

.wrapper {
  margin: 0;
  padding: 50px;
}

.discoverTextContainter {
  background: #f0911b;
  color: black;
  padding: 5px 30px;
}

.white-text {
  color: white;
}

.footer-info {
  background: lightgrey;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  padding: 20px 20px; 
}

ul {
  list-style: none;
  padding: 0;
}

.how-it-works-text {
  text-align: center;
}

hr.solid {
  border-top: 3px solid #bbb;
}