.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px 10px 10px;
  background: white;
}

.menuButton {
  border: none;
  cursor: pointer;
}

.menuContainer {
  list-style: none;
  position: relative;
}