.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px 10px 10px;
  background: white;
  display: flex;
}

.menuButton {
  padding: 10x;
  border: none;
  cursor: pointer;
  background-color: white;
  padding-top: 7px;
}

.menuContainer {
  list-style: none;
  text-align: left;
}